/*===================================
               COLORS
====================================*/
$grey: #3b3b3b;
$smooth-grey: #f7f7f7;
$dark-grey: #262626;
$primary-grey: #dfdfdf;
$yellow: #ffc107;
$smooth-white: #292929;
$smooth-green: #00b090;

/*===================================
            FONT FAMILY
====================================*/
$font-roboto: "../fonts/roboto";
